<div class="featured-carousel" ng-show="widgets.featured_carousel.data.length > 0">
<carousel interval="widgets.featured_carousel.interval" disable-ng-animate>
  <slide ng-repeat="slide in widgets.featured_carousel.data" active="slide.active">
    <div ng-if="slide.videoembed == ''">
      <img ng-src="{{slide.image}}">
      <div class="carousel-caption cf-s17" ng-bind-html="slide.content"></div>
    </div>
    <div ng-if="slide.videoembed != ''">
      <div class="insetFrame">
        <div class="box">
          <iframe id="targetFrame" ng-src="{{slide.videoembed}}" frameborder="0" height="1200" width="1200"></iframe>
        </div>
      </div>
      <div class="carousel-caption cf-s17" ng-bind-html="slide.content"></div>
    </div>
  </slide>
</carousel>
</div>
