<div id="related-missions-section" ng-show="widgets.related_missions.data.missions.length > 0" ng-class="widgets.related_missions.container.classes">
	<div class="sidebar-second-col-wrapper">
		<div class="content-wrapper">
			<div class="cfont1 cf-hnt cf-s17 title">Missions to {{widgets.related_missions.data.title}}</div>
<!-- 			<ul id="mission-list">
				<li ng-repeat="mission in widgets.related_missions.data.missions"><a href="#/{{mission.url}}">{{mission.title}}</a></li>
			</ul> -->
      <div class="mission-list clearfix">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <ul>
          <li ng-repeat="mission in widgets.related_missions.columns.right">
            <a href="#/{{mission.url}}">{{mission.title}}</a>
          </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <ul>
          <li ng-repeat="mission in widgets.related_missions.columns.left">
            <a href="#/{{mission.url}}">{{mission.title}}</a>
          </li>
          </ul>
        </div>
      </div>
      <a class="cf-s12 related-missions-more pull-right" href="#/{{widgets.related_missions.data.url}}">more<img src="images/more_arrow.png"/></a>
		</div>
	</div>
</div>
