<!-- SIDEBAR PANEL -->
<div ng-controller="SSEdata">
	<div class="sidebar">
		<script type="text/javascript" src="slick/slick.min.js"></script>
		<!-- Sidebar navigation -->
		<div class="sidebar-first-nav" ng-controller="SBNavCtrl">
			<div class="sb1-nav"><a href=""><img src="images/button_timeline.png" scroller="factoids-wrapper" ng-click="doStuff($event.target)"/></a></div>
			<div class="sb1-nav"><a href=""><img src="images/button_trending.png" scroller="popular-wrapper" ng-click="doStuff($event.target)"/></a></div>
			<div class="sb1-nav"><a href=""><img src="images/button_people.png" scroller="people-wrapper" ng-click="doStuff($event.target)"/></a></div>
			<div class="sb1-nav"><a href=""><img src="images/button_social.png" scroller="social-wrapper" ng-click="doStuff($event.target)"/></a></div>
		</div>
		<!-- Factoids section -->
		<div>
			<div id="factoids-wrapper">
			<carousel interval="myInterval" id="factoid-carousel" disable-ng-animate>
			  <slide>	
				<div class="factoid-title hnb f18"><p>{{data.ssTitle}}</p></div>
				<table class="factoid-table" >
					<tr>
						<td class="factoid-fact hnb f19 white">{{ data.ssPlanets }}</td>
						<td class="factoid-label hnl f17 light-purple">Planets</td>
					</tr>
					<tr>
						<td class="factoid-fact hnb f19 white">{{ data.ssKnownMoons }}</td>
						<td class="factoid-label hnl f17 light-purple">Known Moons</td>
					</tr>
					<tr>
						<td class="factoid-fact hnb f19 white">{{ data.ssDwarfPlanets }}</td>
						<td class="factoid-label hnl f17 light-purple">Dwarf Planets</td>
					</tr>
					<tr>
						<td class="factoid-fact hnb f19 white">{{ data.ssAsteroids }}</td>
						<td class="factoid-label hnl f17 light-purple">Asteroids</td>
					</tr>
					<tr>
						<td class="factoid-fact hnb f19 white">{{ data.ssComets }}</td>
						<td class="factoid-label hnl f17 light-purple">Comets</td>
					</tr>
					<tr>
						<td class="factoid-fact hnb f19 white">{{ data.ssOnDeck }}</td>
						<td class="factoid-label hnl f17 light-purple">On Deck</td>
					</tr>
				</table>
			  </slide>
			  <slide>
				<div class="factoid-title hnb f18"><p>{{data.mTitle}}</p></div>
				<table class="factoid-table">
					<tr>
						<td class="factoid-fact hnb f19 white">{{ data.mInFlight }}</td>
						<td class="factoid-label hnl f17 light-purple">In Flight</td>
					</tr>
					<tr>
						<td class="factoid-fact hnb f19 white">{{ data.mCompleted }}</td>
						<td class="factoid-label hnl f17 light-purple">Completed</td>
					</tr>
					<tr>
						<td class="factoid-fact hnb f19 white">{{ data.mInDevelopment }}</td>
						<td class="factoid-label hnl f17 light-purple">Development</td>
					</tr>
					<tr>
						<td class="factoid-fact hnb f19 white">{{ data.mConcepts }}</td>
						<td class="factoid-label hnl f17 light-purple">Concepts</td>
					</tr>
					<tr>
						<td class="factoid-fact hnb f19 white">{{ data.mOnDeck }}</td>
						<td class="factoid-label hnl f17 light-purple">On Deck</td>
					</tr>
				</table>
			  </slide>
			  <slide>
				<div class="factoid-title hnb f18"><p>{{data.cTitle}}</p></div>
				<div>
					<p class="hnl f16 light-purple" id="countdownSubhead">{{data.cSubhead}}</p>
					<timer end-time="1420070400000" class="cf1">
						<table class="factoid2" id="countdownTable">
							<tr>
								<td class="hnb f19 white">{{days}}</td>
								<td class="hnb f19 white">{{hours}}</td>
								<td class="hnb f19 white">{{minutes}}</td>
								<td class="hnb f19 white">{{seconds}}</td>
							</tr>
							<tr>
								<td class="hnl f17 light-purple">days</td>
								<td class="hnl f17 light-purple">hours</td>
								<td class="hnl f17 light-purple">minutes</td>
								<td class="hnl f17 light-purple">seconds</td>
							</tr>
						</table>
					</timer>
				</div>
				<div ng-controller='TimeCtrl' id="sidebarClock">
					<p class="hnm f16 white">{{ clock | date:'mediumTime'}}<span class="hnm f16 light-purple"> - Current Time</span></p>
				</div>
			  </slide>
			</carousel>
			</div>
		</div>
		<!-- NEW Most Popular Section -->
		<div ng-controller="PopCtrl" id="popular-wrapper">
			<div class="hdr-popular">
				<div class="hnb f18 white">Most Popular</div>
			</div>
			<div ng-controller="PopCtrl">
				<carousel interval="myInterval" wrap="false" id="popular-carousel" disable-ng-animate>
					  <slide>	
						<div id="pop-wrapper">
							<div class="hdr-pop">
								<div class="hnl f19 light-blue">Planets</div>
							</div>
							<img ng-src="{{popPlanetsUrl}}"/>
							<div class="pop-list">
								<div ng-repeat="planet in planets" class="item">
									<a href="#/{{planet.pageUrl}}" ng-mouseover="updatePopImg($index)">
										<p class="hnl f14 light-purple2">{{$index+1}}.</p>
										<p class="hnl f14 light-purple2">{{planet.name}}</p>
									</a>
								</div>
							</div>
							<div class="sb-more">
								<a href="#/planets/">
									<p class="hnl f18">More</p>
								</a>
							</div>
						</div>
					</slide>
					<slide>
						<div id="pop-wrapper">
							<div class="hdr-pop">
								<div class="hnl f19 light-blue">Missions</div>
							</div>
							<img ng-src="{{popMissionsUrl}}"/>
							<div class="pop-list">
								<div ng-repeat="mission in missions" class="item">
									<a href="#/{{planet.pageUrl}}" ng-mouseover="updatePopImg($index)">
										<p class="hnl f14 light-purple2">{{$index+1}}.</p>
										<p class="hnl f14 light-purple2">{{mission.name}}</p>
									</a>
								</div>
							</div>
							<div class="sb-more">
								<a href="#/missions/">
									<p class="hnl f18">More</p>
								</a>
							</div>
						</div>
					</slide>
					<slide>
						<div id="pop-wrapper">
							<div class="hdr-pop">
								<div class="hnl f19 light-blue">Images</div>
							</div>
							<img ng-src="{{popImagesUrl}}"/>
							<div class="pop-list">
								<div ng-repeat="image in images" class="item">
									<a href="#/{{planet.pageUrl}}" ng-mouseover="updatePopImg($index)">
										<p class="hnl f14 light-purple2">{{$index+1}}.</p>
										<p class="hnl f14 light-purple2">{{image.name}}</p>
									</a>
								</div>
							</div>
							<div class="sb-more">
								<a href="#/images/">
									<p class="hnl f18">More</p>
								</a>
							</div>
						</div>
					</slide>
					<slide>
						<div id="pop-wrapper">
							<div class="hdr-pop">
								<div class="hnl f19 light-blue">Downloads</div>
							</div>
							<img ng-src="{{popDownloadsUrl}}"/>
							<div class="pop-list">
								<div ng-repeat="download in downloads" class="item">
									<a href="#/{{planet.pageUrl}}" ng-mouseover="updatePopImg($index)">
										<p class="hnl f14 light-purple2">{{$index+1}}.</p>
										<p class="hnl f14 light-purple2">{{download.name}}</p>
									</a>
								</div>
							</div>
							<div class="sb-more">
								<a href="#/downloads">
									<p class="hnl f18">More</p>
								</a>
							</div>
						</div>
					</slide>
				</carousel>
			</div>
		</div>
		<!-- People section -->
		<sbpeople></sbpeople>
		<!-- Social section -->
		<div id="social-wrapper" ng-controller='FeedCtrl'>
			<div ng-repeat="feed in feeds | orderBy:'title'">
				<div class="hdr-social">
					<div class="cf1 social-hdr">Social Space</div>
					<div class="social-icons-wrapper">
						<div class="social-icon"><img src="images/20x20_blue_facebook.png"/></div>
						<div class="social-icon"><img src="images/20x20_blue_twitter.png"/></div>
						<div class="social-icon"><img src="images/20x20_blue_youtube.png"/></div>
					</div>
				</div>
				<p class="social-list-sidebar"><span ng-repeat="item in feed.entries">
				<a href="{{item.link}}" class="social-title" target="_blank">{{item.title}}</a> (<span class="social-date">{{item.publishedDate | date:'d-MM-yyyy HH:mm'}}</span>)<br />
				</span></p>
			</div>
		</div>
	</div>
</div>