<style>body{background-color: #000}#header{background-image: url("images/SSE_L2_Purple_TopBannerGlow.svg")}.footer>.container{background-image: url("images/SSE_L2_Purple_FooterGlow.svg")}</style>
<div id="gallery-wrapper" class="navbar">
	<!-- Gallery Sections -->
	<div ng-controller="NewsGalCtrl" id="sseGallery" class="gal-container news">
		<div class="navbar gal-header news" id="gallery-sectionbar">
			<p class="gallery-section-title" style="z-index: 3">News and Events</p>
			<div class="btn-group">
				<a href="" ng-click="list($event)" id="list" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-th-list"></span></a>
				<a href="" ng-click="grid($event)" id="grid" class="btn btn-default btn-sm selected"><span class="glyphicon glyphicon-th-large"></span></a>
			</div>
		</div>
		<!-- Planets section -->		
		<div class="row list-group img-gallery shuffle-grid" id="news-gallery">
			<div ng-repeat="article in news | limitTo: articleLimit()" data-id="{{$index+1}}" class="item shuffle-item col-md-3 col-sm-4 col-xs-6 gal-pic celestial" data-groups='["{{article.group}}"]'>
				<img ng-src="images/spacer_square.png" class="item-filler"/>
				<p class="gal-pubdate">{{article.pubdate}}</p>
				<p class="gal-name hnl f17">{{article.title}}</p>
				<div class="gal-content">{{article.content}}</div>
				<div class="img-window">
					<a ng-href="#/{{article.url}}">
						<div class="txt-gradient"></div>
						<img ng-src="images/spacer_square.png" class="filler" onmouseover="hover(this)" onmouseout="hoverOut(this)"/>
						<img ng-src="images/txt-bgshadow.png" class="txt-bg"/>
						<img ng-src="{{article.image}}" class="img-responsive"/>
					</a>
				</div>
			</div>
			<div id="more-wrapper">
				<button ng-show="hasMoreNewsToShow()" ng-click="showMoreNews()" id="btn-more"  class="hnl f20">Show more</button>
			</div>
		</div>
	</div>
</div>